{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "htmlWhitespaceSensitivity": "css",
        "parser": "html",
        "printWidth": 120
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "parser": "css",
        "singleQuote": false
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    }
  ],
  "printWidth": 140,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false
}
